<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1 style="color: #5e9ca0;"> INTERFACE: CRYPTOCURRENCY COMPETITOR FINDER <h1>
    <h2><h2>
    <form method="POST" action="/send">
         <div vertical layout>
      <div>
      <input class="btn btn-primary"  type="submit" name="submit" value="1: Produce matrix of web crawling">
      </div>
            <div>
      <input class="btn btn-primary" type="submit" name="submit" value="2: Query Search">
      </div>
            <div>
      <input class="btn btn-primary"  type="submit" name="submit" value="3: Produce cluster">
      </div>
    </div>
  </body>
</html>